.quick-view {
	.patient-detail-card {
		@extend .border-container;

		.name-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.buttons-wrap {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}
	}
}
