.main-container {
	background-color: $platinum;
	display: flex;
	flex: 1 1;
	height: 100vh;

	.container-body {
		background-color: $flash-white;
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.login-body {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.main-body {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-top: 130px;
		margin-left: 250px;
	}
}
